.img{
	object-fit: cover;
    height: 50px;
    border-radius :20px;
}


body{
	background : url("../img/bgimg.jpg");
	background-repeat: no-repeat;
	 background-size:cover;
}

.bg-transaparent{
	background: transparent;
}
form{
	/*background: #757168;*/
}
.subot{
	 background: black;
    border: 1px solid white;
    

    /*border-radius: 40px;*/
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
   
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
   
    
}